---
import Tag from "../components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <img
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
    class="pb-4"
  />
  <p class="text-2xl pb-1">{frontmatter.description}</p>
  <div class="flex flex-row justify-between pb-1">
    <p>Written by: {frontmatter.author}</p>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
  </div>
  <Tag tags={frontmatter.tags} />

  <slot />
</BaseLayout>
